@model Zaklady.ViewModels.BetViewModel
@{
    ViewBag.Title = "Obstaw wynik spotkania";
}
@using (Html.BeginForm(Model.Action, "Bet"))
{<h3>Przewidywany wynik meczu:</h3>
    <form>
        <div class="form-group">
            <b>@Model.HomeTeamName:</b>
            @Html.TextBoxFor(m => m.BetHomeTeamGoals, new { @class = "form-control", placeholder = "0" })
            @Html.ValidationMessageFor(m => m.BetHomeTeamGoals)
        </div>
        <div class="form-group">
            <b>@Model.AwayTeamName:</b>
            @Html.TextBoxFor(m => m.BetAwayTeamGoals, new { @class = "form-control", placeholder = "0" })
            @Html.ValidationMessageFor(m => m.BetAwayTeamGoals)
        </div>
        @Html.HiddenFor(m => m.MatchId, new { @class = "form-control" })
            <button type="submit" class="btn btn-primary">Save</button>
</form>
}