@model IEnumerable<Zaklady.Models.Bet>
@{
    ViewBag.Title = "Home Page";
}

<h2>Nadchodzące mecze:</h2>

<table class="table">
    <tr style="background-color:black; color:lightgray;">
        <th><center>Data:</center></th>
        <th><center>Goście:</center></th>
        <th><center>Gospodarze:</center></th>
        <th><center>Obstawione bramki gości:</center></th>
        <th><center>Obstawione bramki gospodarzy:</center></th>
        <th></th>
    </tr>
    @foreach (var footballMatch in Model)
    {
        if (footballMatch.Match.DateTime > DateTime.Now)
        {
            <tr style="background-color:lightgray">
                <td><center>@footballMatch.Match.DateTime.ToString("yyyy/MM/dd HH:mm")</center></td>
                <td><center>@footballMatch.Match.AwayTeamName</center></td>
                <td><center>@footballMatch.Match.HomeTeamName</center></td>
                <td><center>@footballMatch.BetAwayTeamGoals</center></td>
                <td><center>@footballMatch.BetHomeTeamGoals</center></td>
                <td><a href="@Url.Action("PopulateEditBetForm", "Bet", new { id = footballMatch.BetId })">Edytuj</a></td>
            </tr>
        }
    }
</table>



<h2>Mecze zakończone:</h2>

<table class="table">
    <tr style="background-color:black; color:lightgray">
        <th><center>Data:</center></th>
        <th>Goście:</th>
        <th>Gospodarze:</th>
        <th><center>Bramki gości:</center></th>
        <th><center>Bramki gospodarzy:</center></th>
        <th><center>Obstawione bramki gości:</center></th>
        <th><center>Obstawione bramki gospodarzy:</center></th>
        <th><center>Punkty:</center></th>
    </tr>
    @foreach (var footballMatch in Model)
    {
        if (footballMatch.Match.DateTime < DateTime.Now)
        {
            if (footballMatch.BetHomeTeamGoals == footballMatch.Match.HomeTeamGoals
                && footballMatch.BetAwayTeamGoals == footballMatch.Match.AwayTeamGoals)
            {
                <tr class="success">
                    <td>@footballMatch.Match.DateTime.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@footballMatch.Match.AwayTeamName</td>
                    <td>@footballMatch.Match.HomeTeamName</td>
                    <td><center>@footballMatch.Match.AwayTeamGoals</center></td>
                    <td><center>@footballMatch.Match.HomeTeamGoals</center></td>
                    <td><center>@footballMatch.BetAwayTeamGoals</center></td>
                    <td><center>@footballMatch.BetHomeTeamGoals</center></td>
                    <td><center>@footballMatch.Match.PointsForBettingExactTeamScores</center></td>
                </tr>
            }

            else if (
                (
                ((footballMatch.BetHomeTeamGoals > footballMatch.BetAwayTeamGoals) & (footballMatch.Match.AwayTeamGoals < footballMatch.Match.HomeTeamGoals))
                | ((footballMatch.BetHomeTeamGoals == footballMatch.BetAwayTeamGoals) & (footballMatch.Match.AwayTeamGoals == footballMatch.Match.HomeTeamGoals))
                | ((footballMatch.BetHomeTeamGoals < footballMatch.BetAwayTeamGoals) & (footballMatch.Match.AwayTeamGoals > footballMatch.Match.HomeTeamGoals))
                )        
                & (footballMatch.BetHomeTeamGoals != footballMatch.Match.HomeTeamGoals
                &  footballMatch.BetAwayTeamGoals != footballMatch.Match.AwayTeamGoals)
                )
            {
                <tr class="info">
                    <td>@footballMatch.Match.DateTime.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@footballMatch.Match.AwayTeamName</td>
                    <td>@footballMatch.Match.HomeTeamName</td>
                    <td><center>@footballMatch.Match.AwayTeamGoals</center></td>
                    <td><center>@footballMatch.Match.HomeTeamGoals</center></td>
                    <td><center>@footballMatch.BetAwayTeamGoals</center></td>
                    <td><center>@footballMatch.BetHomeTeamGoals</center></td>
                    <td><center>@footballMatch.Match.PointsForBettingCorrectMatchResult</center></td>
                </tr>
            }

            else
            {
                <tr class="danger">
                    <td>@footballMatch.Match.DateTime.ToString("yyyy/MM/dd HH:mm")</td>
                    <td>@footballMatch.Match.AwayTeamName</td>
                    <td>@footballMatch.Match.HomeTeamName</td>
                    <td><center>@footballMatch.Match.AwayTeamGoals</center></td>
                    <td><center>@footballMatch.Match.HomeTeamGoals</center></td>
                    <td><center>@footballMatch.BetAwayTeamGoals</center></td>
                    <td><center>@footballMatch.BetHomeTeamGoals</center></td>
                    <td><center>0</center></td>
                </tr>
            }
        };
    }
</table>















