<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body class="body-content">

    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Strona Główna", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Nadchodzące mecze", "UpcomingEvents", "FootballMatch")</li>
                    <li>@Html.ActionLink("Ranking", "RankingsIndex", "Ranking")</li>
                    <li>@Html.ActionLink("Moje zakłady", "MyBets", "Bet")</li>
                    <li>@Html.ActionLink("Dodaj mecz", "CreateFootballMatch", "FootballMatch")</li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="wrapper">
            <aside class="aside">
                @Html.Partial("Sidebar")
            </aside>

            <aside class="main">
                @RenderBody()
            </aside>
        </div>


    <footer style="background: black; width:100%; float:left; padding:5px;">
        <center><h6><font color="silver">Created by Artur Kulesza - ASP.NET 2016</font></h6></center>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>

</html>