@model Zaklady.ViewModels.FootballMatchViewModel
@{
    ViewBag.Title = Model.Heading;
}
<h2>@Model.Heading</h2>
@using (Html.BeginForm(Model.Action, "FootballMatch"))
{@Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.id)
    <form>
        <div class="form-group">
            <label for="HomeTeam">Drużyna gospodarzy:</label>
            @Html.TextBoxFor(m => m.HomeTeam, new { @class = "form-control", placeholder = "np. Francja" })
            @Html.ValidationMessageFor(m => m.HomeTeam)
        </div>
        <div class="form-group">
            <label for="AwayTeam">Drużyna gości:</label>
            @Html.TextBoxFor(m => m.AwayTeam, new { @class = "form-control", placeholder = "np. Polska" })
            @Html.ValidationMessageFor(m => m.AwayTeam)
        </div>
        <div class="form-group">
            <label for="Tournament">Turniej:</label>
            @Html.TextBoxFor(m => m.Torunament, new { @class = "form-control", placeholder = "np. EURO2016" })
            @Html.ValidationMessageFor(m => m.Torunament)
        </div>
        <div class="form-group">
            <label for="Tournament">Godzina:</label>
            @Html.TextBoxFor(m => m.Time, new { @class = "form-control", placeholder = "np. 20:00" })
            @Html.ValidationMessageFor(m => m.Time)
        </div>
        <div class="form-group">
            <label for="Tournament">Data:</label>
            @Html.TextBoxFor(m => m.Date, new { @class = "form-control", placeholder = "np. 1 STY 2016" })
            @Html.ValidationMessageFor(m => m.Date)
        </div>
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
}