@model IEnumerable<Zaklady.Models.FootballMatch>
@{
    ViewBag.Title = "Home Page";
}
<ul class="footballmatch">
    @foreach (var footballMatch in Model)
    {
        <li>
            <div class="date">
                <div class="month">
                    @footballMatch.DateTime.ToString("MMM")
                </div>
                <div class="day">
                    @footballMatch.DateTime.ToString("d ")
                </div>
            </div>
            <div class="details">
                <span class="hometeam">
                    @footballMatch.HomeTeam
                </span>
                vs.
                <span class="genre">
                    @footballMatch.AwayTeam
                </span>
                <span class="hour">
                    @footballMatch.DateTime.ToString("HH:mm")
                </span>
                <span class="tournament">
                    @footballMatch.Torunament
                </span>
                <div class="actions">
                    <a href="@Url.Action("EditFootballMatch", "FootballMatch", new { id = footballMatch.Id })">Edytuj</a>
                    |
                    <a href="@Url.Action("RemoveFootballMatch", "FootballMatch", new { id = footballMatch.Id })">Usuń</a>
                    |
                    <a href="@Url.Action("FillFootballMatchResult", "FootballMatch", new { id = footballMatch.Id })">Dodaj wynik</a>
                </div>
            </div>
        </li>
    }
</ul>